@use "sass:map";
@use "mixins" as *;

:root {
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scroll-behavior: smooth;

    &.contrast-mode {
        p {
            font-family: "Atkinson Hyperlegible", sans-serif;
            letter-spacing: 0.05ch;
        }
    }
}

* {
    &:focus-visible {
        @include focus-visible-outline;
    }
}

body {
    font-family: $font-family-stack;
    margin: 0;
    padding: 0;
    transition:
        background-color $transition-fast,
        color $transition-fast;
}

@media (prefers-reduced-motion: reduce) {
    *:not(.hero-section):not(.hero-section *),
    *:not(.hero-section)::before,
    *:not(.hero-section)::after {
        animation-duration: 0.1ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.1ms !important;
        scroll-behavior: auto !important;
    }
}

.strike-through {
    text-decoration: line-through;
}

.screen-reader-only {
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    transition:
        color-scheme $transition-fast,
        background-color $transition-fast,
        border-color $transition-fast,
        color $transition-fast;
}

main {
    padding-top: $navbar-height;
    z-index: 1;
    position: relative;
    overflow-x: clip;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.skip-to-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 0px;
    height: 0px;
    overflow: hidden;
    padding: 0;
    border: none;
    background: none;

    &:focus-within {
        width: auto;
        height: auto;
        overflow: visible;
        padding: $spacing-sm $spacing-md;
    }
}

@each $theme-name, $theme-properties in $themes {
    :root.#{$theme-name}-mode {
        color-scheme: map.get($theme-properties, color-scheme);
        background-color: #{map.get($theme-properties, background-color)};
        color: #{map.get($theme-properties, text-color)};

        --bg-color: #{map.get($theme-properties, background-color)};
        --sub-bg-color: #{map.get($theme-properties, sub-background-color)};
        --border-color: #{map.get($theme-properties, border-color)};
        --text-color: #{map.get($theme-properties, text-color)};
        --highlight-color: #{map.get($theme-properties, highlight-color)};
    }
}
